#body{
    font:100 12px "SimSun";
}
body{
    font-family: "微软雅黑"!important;
    color:#000;
    font-size:12px;
    width:1200px;
    height:100%;
    margin:0 auto;
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight: normal;
    color:#333;
}
#top{
    margin:10px 0 0 0;
    padding:0 0 10px 0;
    border-bottom:1px solid #919191;
}
.regis{
    width:100%;
    margin:30px 0 0 0;
}
.regis h1{
    height:35px;
    width:415px;
    float:right;
    line-height:35px;
    margin:0 100px 0 0;
    border-bottom:2px solid #b81e20;
    font-size:20px;
    color:#a2a2a2;
    font-weight: bolder;
}
.regis h1 span{
    font-size:14px;
    float:right;
}
.regis h1 span a{
    color:#b52024;
    margin:0 0 0 3px;
}
#right{
    width:415px;
    float:right;
    margin:10px 95px 0 0;
}
.infor{
    overflow: inherit;
    width:415px;
    zoom: 1;
    display: inline-block;
}
.email{
    width:415px;
}
.email ul #yzmcode{
    zoom:1;
    display:block;
    clear: both;
    margin-top:15px;
    border:1px solid #fff;
}
#yzmcode div{
    border:0 none;
    width:415px;
    overflow:inherit;
    zoom:1;
    height:45px;
    position: relative;
}
#yzmcode div label{
    width:260px;
    height:43px;
    line-height:43px;
    border:1px solid rgb(203, 203,203);
    z-index:10;
    color:#acacac;
    position: absolute;
    left:0;top:0;
    display: block;
    text-align: left;
    font-size:14px;
    text-indent:10px;
    background:#fff;
}
#yzmcode div input{
    width:260px;
    border:1px solid #cbcbcb;
    height:43px;
    line-height:43px;
    opacity: 0.5;
    background:#fff;
}
#yzmcode div .tips1{
    color:#a10000;
    border:1px solid #ffd5d5;
    padding:3px 5px;
    position: absolute;
    left:0;top:46px;
    z-index:20;
    background: #f9f9f9;
    display: inline-block;
    display: none;
}
.blank{
    width:100%;
    height:10px;
    overflow: hidden;
    clear:both;
}
#liphone{
    display:list-item;
    margin-top:15px;
    clear:both;
    border:1px solid #fff;
}
.phonebox{
    position: relative;
    width:415px;
    height:auto;
}
.iphone{
    height:45px;
    border:1px solid #cbcbcb;
    position: relative;
    overflow: hidden;
    width:260px;
    float:left;
}
.iphone label{
    height:45px;
    line-height: 45px;
    color:#acacac;
    position: absolute;
    left:0;top:0;
    width:100%;
    display:block;
    text-align: left;
    font-size: 14px;
    text-indent: 10px;
    background: #fff;
    z-index:10;
}
.iphone input{
    opacity:0.5;
    background:#fff;
    height:45px;
    line-height:45px;
    color:#656565;
    position: absolute;
    left:0;top:0;
    width:100%;
    display: block;
    text-align: left;
    text-indent: 10px;
    z-index:9;
    border:0 none;
    font-size:14px;
}
.sprite_a{
    height:45px;
    width:140px;
    text-align: center;
    line-height:45px;
    background:#f5f5f5;
    color:#b52024 !important;
    border:1px solid #cbcbcb;
    display:block;
    float:left;
    margin:0 0 0 10px;
    font-weight: bolder;
}
.tips2{
    display:block;
    line-height:16px;
    color:#999;
    height:16px;
    position: absolute;
    left:0;top:47px;
    z-index:20;
}
#phonecode{
    display:list-item;
    clear:both;
    margin-top:15px;
}
.v2regListInfo_rtCont{
    position: relative;
    width:415px;
    height:auto;
}
#_mcode{
    width:410px;
}
.newtext{
    height:45px;
    width:360px;
    border:1px solid #cbcbcb;
    position: relative;
    overflow: hidden;
}

.newtext label{
    height: 45px;
    line-height: 45px;
    color: #acacac;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: block;
    text-align: left;
    z-index: 10;
    font-size: 14px;
    text-indent: 10px;
    background: #fff;
}
.newtext input{
    height: 45px;
    line-height: 45px;
    color: #656565;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: block;
    text-align: left;
    text-indent: 10px;
    z-index: 9;
    border: 0 none;
    font-size: 14px;
    float:left;
}
.newtext .hoverinput{
    opacity: 0.5;
    background:#fff;
}
.reg-bg1{
    clear:both;
    margin-top:15px;
}
.regListInfo_rtCont{
    position: relative;
    width:415px;
    height:auto;
}
#_mpassword{
    width:410px;
}
#_mpassword2{
    width:410px;
}
.reg_bt{
    margin:10px 0 0 0;
}
.reg_bt span{
    color:#9d9d9d;
    font-size: 14px;
    font-weight: bolder;
    line-height: 12px;
    margin:0 0 10px 0;
}
.reg_bt span label{
    width:100%;
    float: none;
    text-align: right;
}
.reg_bt span a{
    color:#b52024;
    font-weight: bolder;
    font-size:12px;
}
.box10{
    height:10px;
}
.reg_bt a{
    color:#333;
}
.submitStyle{
    clear: both;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #b52024;
    border: 0;
    color: #fff;
    cursor: pointer;
    clear: both;
    font-size: 16px;
    font-weight: bolder;

}
#submitRegister_false{
    background: #9a9a9a;
    color:#fff;
}
#submitRegister{
    display: none;
}
#left{
    width: 465px;
    height: 500px;
    float: left;
    margin: 0 0 0 130px;
}
#left img{
    width:465px;
}
#bottom{
    width: 980px;
    display: inline-table;
    font: 100 12px "宋体";
    color: #999999;
    position: relative;
    margin:0 auto;
    padding-top:15px;

}
#bottoms p{
    margin:0 0 20px 0;
    padding:0;
    width:980px;
}
#footerArea{
    width:980px;
    margin:0 auto;
}
#footerArea .subFooter{
    margin-bottom:25px;
    text-align:center;
}
#footerArea .subFooter .redLogo{
    width:113px;
    height:42px;
    display:inline-block;
    background:url(../images/spritesbg.png) no-repeat 0 -400px;
    margin:0 10px;

}
#footerArea .subFooter .costumeOrg{
    width:156px;
    height:45px;
    display: inline-block;
    background: url(../images/spritesbg.png) no-repeat 0 -448px;
    margin:0 10px;
}
#footerArea .subFooter .wsjyBzzx{
    width:96px;
    height:42px;
    display:inline-block;
    background:url(../images/spritesbg.png) no-repeat 0 -494px;
    margin:0 10px;

}
#footerArea .subFooter .vanclMsg{
    width:101px;
    height:42px;
    display: inline-block;
    background: url(../images/spritesbg.png) no-repeat -97px -494px;
    margin:0 10px;
}